body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #005f7f;
}

#messageLose {
    color: #ff6347;
    font-weight: bold;
    margin-top: 10px;
}

#messageWin {
    color: #47ff75;
    font-weight: bold;
    margin-top: 10px;
}